#menu li {
    display: inline;
}

#menu li a {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 20px;
    padding: 14px;
    color: #210641;
    text-decoration: none;
}

#menu li a.active {
    background-color: #210641;
    color: white;
}

#header h1 {
    background-color: #210641;
}

header {
    background: #51FA9F;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
}

.card {
    border: 4px solid #210641;
    border-radius: 2px;
    transition: 0.3s;
    width: 70%;
    margin: auto;
}

.container {
    padding: 2px 16px;
}

#cardsDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}